.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.nav-wrapper {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #ffcc80;
}

.chip {
    font-size: 1.5rem;
    margin-top: 20px;
}

.main-content {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.register-benefits {
    margin: auto;
    text-align: left;
    display: inline-block;
}
.center-img {
    margin: 10px auto;
}

.card-image {
    max-height: 350px;
}

.main-img {
    max-width: 90%;
    margin: auto;
}

.choice-span {
    padding-left: 25px;
    padding-right: 15px;
    font-size: 1.25rem;
}

.quiz-submit {
    display: block;
    text-align: center;
    margin: 10px auto 30px;
}

.user-div {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
}

.user-quizzes {
    padding: 10px 30px;
    margin-bottom: 30px;
}

.wrap-row {
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-flow: row wrap;
}

.plant-card {
    padding-top: 10px;
}

.table-div {
    margin: 20px;
}

.page-footer {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #ffcc80;
    text-align: center;
    padding-bottom: 40px;
}

.alert-danger {
    color: red;
}

.alert-success {
    color: #2ab7a9;
}

#new-quiz-form{
    margin-top: 30px;
}