{% extends 'base.html' %}

{% block title %}All Quizzes{% endblock %}

{% block content %}

<h1>All Available Quizzes</h1>

<div class="image-section">
    <div class="row">
    {% for family in quiz_families %}
        <div class="col s12 m6">
            <div class="card-panel green lighten-4 z-depth-3">
                
                <h3>{{ family.name | title }}</h3>
                
                {% for quiz in family.quizzes %}
                    <p><a href="/quiz/{{quiz.id}}" class="btn waves-effect waves-light">
                        {{family.name}} Quiz {{quiz.num_by_family}}
                    </a></p>
                {% endfor %}
                
            </div>
    
        </div>

    {% endfor %}
    </div>
</div>

{% endblock %}