<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/materialize.css">
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body class="yellow lighten-4 flex-wrapper">
    
    <nav>
        <div class="nav-wrapper">
        <a href="/" class="brand-logo left black-text">Plant Quizzes</a>
        <ul id="nav-mobile" class="right">
            {% if not g.user %}
            <li><a href="/login" class="black-text">Log In</a></li>
            <li><a href="/signup" class="black-text">Sign Up</a></li>
            {% else %}
            <li><a href="/user/quizzes" class="black-text">My Quizzes</a></li>
            <li><a href="/logout" class="black-text">Log Out</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
        
    <main class="container center-align">
        <div>
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="chip alert-{{ category }} z-depth-2">{{ message }}</div>
            {% endfor %}
        </div>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer black-text z-depth-1">
        <div class="container">
            <div class="row">
                <h6>© 2021 by Laura Moon</h6>
            </div>
            <div class="row">
                <div class="col s4 xl2 offset-xl3">
                    <a href="/about" class="black-text">
                        <i class="fas fa-info-circle"></i> About
                    </a>
                </div>
                <div class="col s4 xl2">
                    <a href="https://github.com/lauramoon/capstone-1" 
                    class="black-text"
                    target="_blank">
                        <i class="fab fa-github"></i> GitHub repo
                    </a>
                </div>
                <div class="col s4 xl2">
                    <a href="https://www.linkedin.com/in/laura-moon/" 
                    class="black-text"
                    target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/materialize.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems);
      });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
      });
    </script>
</body>
</html>